/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0C2D48;
  color: #B1D4E0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  background-color: #145DA0;
  width: 100%;
  padding: 20px;
  color: #B1D4E0;
  text-align: center;
}

a {
  color: #B1D4E0;
  text-decoration: none;
  font-size: 1.2em;
}

a:hover {
  color: #2E8BC0;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #2E8BC0;
  color: #B1D4E0;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #B1D4E0;
  color: #2E8BC0;
}

.exercise-card {
  background-color: #145DA0;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  color: #B1D4E0;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.exercise-card:hover {
  background-color: #2E8BC0;
}

.exercise-card h2 {
  margin-bottom: 10px;
}

.exercise-card p {
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}