/* src/css/ExerciseContent.css */

.exercise-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    color: #333;
    /* Updated color for better contrast and readability */
    width: 90%;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
}

.text-display {
    border: 1px solid #ccc;
    /* Lighter border color for a softer look */
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5em;
    /* Adjust font size if it's too large */
    line-height: 1.5;
    width: 100%;
    text-align: left;
    background-color: #fff;
    /* White background for the text display */
    color: #333;
    /* Dark text for readability */
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.character-key {
    display: inline;
    letter-spacing: 0.1em;
    /* Adjust letter spacing for legibility */
}

.correct {
    color: #4CAF50;
    /* Green for correct characters */
}

.incorrect {
    color: #F44336;
    /* Red for incorrect characters */
}

.active {
    background-color: #eee;
    /* Light grey background for the active character */
    color: #333;
    /* Dark text for the active character for readability */
    border-radius: 3px;
    /* Rounded corners for the active character background */
}

.next-character {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    /* Color consistency for readability */
}

@media (max-width: 768px) {
    .exercise-content {
        margin-top: 20px;
        /* Less margin on smaller screens */
    }

    .text-display {
        padding: 10px;
        /* Less padding on smaller screens */
        font-size: 1em;
        /* Smaller font size on smaller screens for better fit */
    }

    .next-character {
        font-size: 1em;
        /* Smaller font size on smaller screens */
    }
}

/* Add this to your ExerciseContent.css */
.character-key.space-placeholder {
    visibility: visible;
    /* Make the space placeholder visible */
}

.space-placeholder {
    display: inline-block;
    /* To ensure it occupies space */
}

.incorrect-space {
    background-color: #F44336;
    /* Red background for incorrect spaces */
    color: transparent;
    /* Hide the incorrect character */
}

.incorrect-space::after {
    content: '·';
    /* Show a dot for incorrect space */
    color: #fff;
    /* White dot on red background for visibility */
}