.exercise-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15%;
}

.exercise-container {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    max-width: 800px;
}

.exercise-header,
.exercise-footer {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #E9ECEF;
    /* Only for the header */
}

.exercise-content {
    padding: 20px;
}

.text-display {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.next-character {
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

textarea {
    width: 100%;
    border: 1px solid #E9ECEF;
    border-radius: 5px;
    resize: none;
    /* Prevents the user from resizing the textarea */
}

.character-key {
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    /* Adjust if needed */
    background-color: #E9ECEF;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;

    width: 40px;
    /* Set fixed width */
    height: 40px;
    /* Set fixed height */
    line-height: 40px;
    /* Vertically center the character */
    text-align: center;
    /* Horizontally center the character */
    overflow: hidden;
    /* In case any character exceeds the box */
    margin: 10px 7px;
    /* Adjust the margin values: 10px vertical, 7px horizontal */
    line-height: 44px;
    /* Adjust to slightly more than the height to ensure vertical centering */

}

/* Rest of the CSS remains the same */


/* Optional hover effect to give a button-like feel */
.character-key:hover {
    background-color: #D6D6D6;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.character-key.correct {
    color: green;
}

.character-key.incorrect {
    color: red;
    text-decoration: underline;
}

@keyframes pulsate {
    0% {
        border-bottom: 2px solid transparent;
    }

    50% {
        border-bottom: 2px solid #f00;
    }

    100% {
        border-bottom: 2px solid transparent;
    }
}

.character-key.active {
    animation: pulsate 1s infinite;
}